.example-container {
    height: 100vh;
}

.side-nav {
    width: 35%;
}

.close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #555;
    padding: 8px;
    border-radius: 100%;
    transition: background 0.2s ease;
  }
  
  .close-icon:hover {
    background: rgba(0, 0, 0, 0.05);
  }
  

@media (max-width: 768px) {
    .side-nav {
        width: 100%;
    }
  }

