form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  padding: 10px;
  padding-top: 50px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

button {
  align-self: flex-start;
}

p {
  margin-top: 16px;
  color: green;
  font-weight: 500;
}
